nav {
    background-color: #0979E4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}