nav {
    /* background-color: #0979E4; */
    background-color: transparent;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    position: fixed;
    right: 0;
    left: 0;
}

.hero {
    background-image: url(../images/asset\ 0.jpeg);
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    align-items: center;
}

.hero-content {
    width: 80%;
    margin: auto;
}

.bio {
    width: 60%;
    /* line-height: 2.0; */
}

.text-white {
    color: white;
}

.text-bold {
    font-weight: bold;
}

.nav-items {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}